<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pag Prova Vicent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" [routerLink]="['/insertar']">Insertar</ion-button>


  <ion-searchbar animated 
                (ionChange)="buscar ( $event )">
  </ion-searchbar>


<!--Mostrar llistat -->
<!--En principi este es el dif que fa que si es fontaneria aparega la llista de fontaneria , si no l'altra. -->
<div *ngIf = " this.nom == 'fontaneria'" >
  <ion-card *ngFor="let item of empreses | filtro: textoBuscar">
    <ion-card-header>
      <ion-card-title>{{ item.nombre }} ({{item.preciohora}}) €</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Descripcio: </ion-label>
      {{ item.descripcion }}

      <ion-button expand="block" [routerLink]="['/details/', item.key]">Detalle</ion-button>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>
