<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pag Prova Vicent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
  </ion-card>


  <ion-card *ngFor="let item of bocadillos">
    <ion-card-header>
      <ion-card-title>{{ item.nombre }} ( {{item.preciohora}}) €</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Descripcio: </ion-label>
      {{ item.descripcion }}

       <!--<img [src]="ruta" [style.width.px]="width"> <br>

      <ion-button expand="block" (click)="cambiar_Oculto()" >{{ bototext }} descripción</ion-button>

      <div *ngIf = "oculto == false">bocadilllo molt bo de la casa</div> -->
    </ion-card-content>
  </ion-card>




  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
