<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pag Prova Vicent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    <ion-input placeholder="Preciohora" [(ngModel)]="preciohora"></ion-input>
    <ion-input placeholder="Descripción" [(ngModel)]="descripcion"></ion-input>
    <ion-button expand="block" (click)="insertar()">Insertar</ion-button>
  </ion-card>


  <ion-card *ngFor="let item of empreses">
    <ion-card-header>
      <ion-card-title>{{ item.nombre }} ({{item.preciohora}}) €</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Descripcio: </ion-label>
      {{ item.descripcion }}

       <!--<img [src]="ruta" [style.width.px]="width"> <br>

      <ion-button expand="block" (click)="cambiar_Oculto()" >{{ bototext }} descripción</ion-button>

      <div *ngIf = "oculto == false">bocadilllo molt bo de la casa</div> -->
    </ion-card-content>
  </ion-card>


</ion-content>
