<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="titulo">
      <ion-icon name="home-outline"></ion-icon>
      InfolaVall
    </ion-title>
    <ion-buttons slot="start">
     <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- part de insertar-->


<!--Mostrar llistat -->
 <ion-grid>

  <br><br>
  <ion-row>
    <ion-col>
      <ion-button class="botoempresa" expand="block" [routerLink]="['/llista/', 'fontaneria']">
        <ion-icon name="water-outline">
        </ion-icon>  &nbsp;
          Fontaneria
        </ion-button>

    </ion-col>

    <ion-col>
      <ion-button class="botoempresa" expand="block" [routerLink]="['/llista/', 'fusteria']">
        <ion-icon name="hammer-outline"></ion-icon> &nbsp;
        Fusteria</ion-button>
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col>
      <ion-button class="botoempresa" expand="block" [routerLink]="['/llista/', 'informatica']">
        <ion-icon name="desktop-outline"></ion-icon> &nbsp;
        Informàtica</ion-button>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
